<div class="row">
  <div class="span3" id="filter">
    <div class="filter">Filter</div>
    <%= form_tag(search_users_path, method: :get, class: 'form-vertical') do %>
      <%= label_tag :location, "Location" %>
      <%= search_field_tag :location, @location,  placeholder: 'Enter Zip or City' %>


      <br />

      <%= label_tag :services, "Services" %>
      <% ['rehearsal', 'recording', 'mastering', 'production'].each do |service| %>
        <%= check_box_tag 'services[]', 
            service, @services.include?(service), 
            id: "service_#{service}" %>
        <%= label_tag "services_#{service}", service.humanize %>
        <br />
      <% end %>

      <%= submit_tag "Filter"%>
    <% end %>
  </div>

<div class="span9">
  <%= map_tag @location, @spaces %>

  <div class="spaces">
    <%= render @spaces %>
  </div>

  <%= will_paginate @spaces %>
</div>
