<div id="edit-user">
<%= simple_form_for(@user, html: {class: 'form-horizontal' }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :about, as: :text %>
  <%= image_tag current_user.profile_picture(:thumb) %>
  <%= f.input :profile_picture, as: :file %>

  <div class="style">
    <%= f.label :styles %> <br />
    <%= f.text_field :styles, id: 'search-styles', value: token_input(@user.styles) %>
  </div>
  <div class="skill">
    <%= f.label :skills %> <br />
    <%= f.text_field :skills, placeholder:"",  id: 'search-skills', value: token_input(@user.skills) %>
  </div>

  <br />
  
  <%= f.input :hide_location_from_search, as: :boolean,
              label: 'Hide Location and Availability From Search Listings' %>
  <%= f.button :submit %>
<% end %>
</div>
