<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :hide_location_from_search, 'Hide Location and Availability From search listings' %>
    <%= f.check_box :hide_location_from_search %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :about %><br />
    <%= f.text_area :about %>
  </div>
  <div class="field">
    <%= f.label :profile_picture %><br />
    <%= image_tag current_user.profile_picture %>
    <%= f.file_field :profile_picture %>
  </div>

  <div class="style">
    <%= f.label :styles %> <br />
    <%= f.text_field :styles, id: 'search-styles' %>
  </div>
  <div class="skill">
    <%= f.label :skills %> <br />
    <%= f.text_field :skills, placeholder:"",  id: 'search-skills' %>
  </div>

  <br />
  
  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
