<div class="user">
  <input id="user-<%= user.id %>" type="hidden" val="<%= user.id %>" />
  <span class="profile_picture">
    <% unless user.profile_picture.nil? %>
      <%= image_tag user.profile_picture.url(:thumb) %>
    <% end %>
  </span>
  <div class="contact">
    <form action="<%= send_message_messages_path(user) %>" method="post">
      <%= image_tag 'contact.png' %>
    </form>
  </div>
  <div class="information">
    <div class="name">
      <%= link_to user.name, user %>
    </div>
    <div class="location">
      <%= user.location %>
    </div>
    <div class="skills">
     <p>Skills: <%= user.skills.map(&:name).join(", ") %> </p>
    </div>
    <div class="styles">
     <p>
     Styles: <%= user.styles.map(&:name).join(', ') %>
     </p>
    </div>
  </div>

  <div class="message"></div>
  <hr />
</div>
