<div class="row">
  <div class="span3" id="filter">
    <div class="filter">Filter</div>
    <%= form_tag(search_users_path, method: :get, class: 'form-vertical') do %>
      <%= label_tag :location, "Location" %>
      <%= search_field_tag :location, @location,  placeholder: 'Enter Zip or City' %>

      
      <p>
      <%= label_tag :styles, "Styles" %> <br />
      <%= text_field_tag :styles, "",  id: 'search-styles' %>
      </p>
      <p>
      <%= label_tag :skills, "Skills" %> <br />
      <%= text_field_tag :skills, "", placeholder:"e.g. Guitar, Drums, Vocals",  id: 'search-skills' %>
      </p>

      <br />
      <%= submit_tag "Filter"%>
    <% end %>
  </div>
  <div class="span9">
  <%= map_tag @location, @users %>
  
  <div class="users">
    <%= render @users %>
  </div>

  <%= will_paginate @users %>
  </div>
</div>
