<p id="notice"><%= notice %></p>

<% unless @user.profile_picture.nil? %>
  <%= image_tag @user.profile_picture.url(:thumb) %>
<% end %>
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
  <br />
  <%= map_tag_for_user(@user) %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>

<p>
  <b>About:</b>
  <%= @user.about %>
</p>
<p>


<div class="skills">
 <p>Skills: <%= @user.skills.map(&:name).join(", ") %> </p>
</div>
<div class="styles">
 <p>
 Styles: <%= @user.styles.map(&:name).join(', ') %>
 </p>
</div>


<% if current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>


<%= link_to 'Back', users_path %>
