<p id="notice"><%= notice %></p>

<% unless @user.profile_picture.nil? %>
  <%= image_tag @user.profile_picture.url(:thumb) %>
<% end %>
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
  <br />
  <%= map_tag_for_user(@user) %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>

<p>
  <b>About:</b>
  <%= @user.about %>
</p>
<p>



<%= link_to 'Edit', edit_user_path(@user) %> |


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
