<div id="show">
<div class="row-fluid">
  <div class="span6">

    <div class="name">
      <%= @user.name %>
      <% if current_user == @user %>
        <br />
        <%= link_to 'Edit Profile', edit_user_path(@user) %> 
      <% end %>
    </div>

    <div class="profile_picture">
      <% unless @user.profile_picture.nil? %>
        <%= image_tag @user.profile_picture.url(:medium) %>
      <% end %>
    </div>


    <div class="skills">
     <p><b>Skills:</b> <%= @user.skills.map(&:name).join(", ") %> </p>
    </div>
    <div class="styles">
     <p>
     <b>Styles:</b> <%= @user.styles.map(&:name).join(', ') %>
     </p>
    </div>


    <p>
      <b>About:</b>
      <%= @user.about %>
    </p>
    <p>
  </div>

  
    <div class="span6">
      <b>Location:</b>
      <%= @user.location %>
      <br />
        <%= map_tag_for_user(@user) %>
    </div>
</div>
</div>
