<h1>Listing proficiencies</h1>

<table>
  <tr>
    <th>Skill</th>
    <th>Expertise level</th>
    <th>Years of experience</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proficiencies.each do |proficiency| %>
  <tr>
    <td><%= proficiency.skill %></td>
    <td><%= proficiency.expertise_level %></td>
    <td><%= proficiency.years_of_experience %></td>
    <td><%= link_to 'Show', proficiency %></td>
    <td><%= link_to 'Edit', edit_proficiency_path(proficiency) %></td>
    <td><%= link_to 'Destroy', proficiency, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Proficiency', new_proficiency_path %>
