<p id="notice"><%= notice %></p>

<p>
  <b>Skill:</b>
  <%= @proficiency.skill %>
</p>

<p>
  <b>Expertise level:</b>
  <%= @proficiency.expertise_level %>
</p>

<p>
  <b>Years of experience:</b>
  <%= @proficiency.years_of_experience %>
</p>


<%= link_to 'Edit', edit_proficiency_path(@proficiency) %> |
<%= link_to 'Back', user_proficiencies_path %>
