<!DOCTYPE html>
<html>
<head>
  <title>The Jam Stop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id="header">
      <div id="logo">
        <%= image_tag "logo.png" %>
      </div>
      <div id="signin">
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path %> 
          <%= link_to "Profile", edit_user_path(current_user) %> 
          <%= link_to "Messages", messages_all_path %>
        <% else %>
          <%= link_to "Login", new_user_session_path %> | 
          <%= link_to "Sign Up",new_user_registration_path  %>
        <% end %>
      </div>
      <div id="<%= controller.controller_name %>">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
